@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #ffffff;
	width: 100%;
	box-shadow: 0px 5.33px 80px 0px #0000001a;
	padding: 15px 0px;
	position: fixed;
	top: 0;
	left: 0;
}

.newhead {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.newhead span {
	display: flex;
	align-items: center;
}

.newhead span img {
	margin-right: 10px;
}

.middle-side,
.mid-btn,
ul {
	display: flex;
	justify-content: space-between;
	gap: 42.67px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 200;
	color: #1c1e53;
}

.home {
	color: #5e3bee;
}
.middle-side ul li {
	margin-right: 20px;
}

.middle-side ul li:last-child {
	margin-right: 0;
}

.contact-btn {
	color: #5e3bee;
	border: 1px solid #5e3bee;
	padding: 30.67px, 50.67px, 30.67px, 50.67px;
	border-radius: 5px;
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-weight: 400;
	margin-top: 10px;
}

button:hover {
	background-color: #ffffff;
}

.mobile_update_format {
	display: none;
}

.menu-wrapper {
	display: none;
}

@media screen and (max-width: 768px) {
	header {
		background-color: #ffffff;
		width: 100%;
		box-shadow: 0px 5.33px 80px 0px #0000001a;
		padding: 15px 0px;
		position: fixed;
		top: 0;
		left: 0;
	}

	.newhead {
		justify-content: space-between;
		margin: auto 20px auto 20px;
	}

	.menu-wrapper,
	.middle-side,
	.middle-side ul,
	.contact_btn_wrap {
		display: none;
	}

	.menu-wrapper {
		display: block !important;
	}
	.mobile_update_format {
		position: absolute;
		top: 70px;
		right: -20px;
		z-index: 1000;
		display: flex !important;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin: auto;
		width: 30%;
		/* height: 50vh; */
		height: 31vh;
		background: white;
		padding: 30px;
		box-shadow: 0px 5.33px 80px 0px #0000001a;
	}

	.mobile_update_format .middle-side {
		display: block;
	}

	.mobile_update_format .middle-side ul {
		display: block;
	}

	.mobile_update_format .contact_btn_wrap {
		display: block !important;
	}
}

@media screen and (max-width: 1250px) {
	header {
		background-color: #ffffff;
		width: 100%;
		box-shadow: 0px 5.33px 80px 0px #0000001a;
		padding: 15px 0px;
		position: fixed;
		top: 0;
		left: 0;
	}

	.newhead {
		justify-content: space-between;
		margin: auto 20px auto 20px;
	}

	.menu-wrapper,
	.middle-side,
	.middle-side ul,
	.contact_btn_wrap {
		display: none;
	}

	.menu-wrapper {
		display: block !important;
	}
	.mobile_update_format {
		position: absolute;
		top: 70px;
		right: -20px;
		z-index: 1000;
		display: flex !important;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin: auto;
		width: 50%;
		height: 31vh;
		background: white;
		padding: 30px;
		box-shadow: 0px 5.33px 80px 0px #0000001a;
	}

	.mobile_update_format .middle-side {
		display: block;
	}

	.mobile_update_format .middle-side ul {
		display: block;
	}

	.mobile_update_format .contact_btn_wrap {
		display: block !important;
	}
}
